.myModal{
    top:0;
    bottom:0;
    right:0;
    left:0;
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.5)
}


.myModalContent{
    border:1px solid #666;
    padding:20px;
    border-radius: 10px;
    background-color: white;
    min-width: 250px;
}


.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}